
.bg-change{
  background-color: #CD1014 !important;
}
.bg-change-pastel{
  background-color: #f56d6f !important;
}
.bg-circus{
  background-color: #EEBE00;
}
.bg-circus-pastel{
  background-color: #ffeda5;
}
.bg-manicure{
  background-color: #ff3ef2;
}
.bg-morado{
  background-color: #a600ff;
}
.bg-morado-pastel{
  background-color: #dc9bff;
}
.bg-ral{
  background-color: #2c10cdff;
}
.bg-greenISESAC{
  background-color: #17a700;
}
.bg-gray{
  background-color: #e0e0e0 !important;
}





.text-ISESAC{
  color: #17a700;
}
.text-ral{
  color: #2c10cdff;
}
.text-circus{
  color: #EEBE00;
}
.text-change{
  color: #CD1014;
}




.border-change{
  border: 5px solid #CD1014;
}
.border-circus{
  border-color: #EEBE00;
}
.border-greenISESAC{
  border-color: #17a700;
}


.bg-white-1{
  background-color: #fff !important;
  color: #000;
}
.border-left-10{
  border-left: 10px solid #000 !important;
}
.border-top-10{
  border-top: 10px solid #000 !important;
}
.border-right-10{
  border-right: 10px solid #000 !important;
}
.border-bottom-10{
  border-bottom: 10px solid #000 !important;
}