
.bg-change{
  background-color: #CD1014 !important;
}
.bg-change-pastel{
  background-color: #f56d6f !important;
}
.bg-circus{
  background-color: #EEBE00 !important;
}
.bg-circus-pastel{
  background-color: #ffeda5 !important;
}
.bg-manicure{
  background-color: #ff3ef2 !important;
}
.bg-morado{
  background-color: #a600ff !important;
}
.bg-morado-pastel{
  background-color: #dc9bff !important;
}
.bg-ral{
  background-color: #2c10cdff !important;
}
.bg-ral-pastel{
  background-color: rgb(108, 91, 204) !important;
}
.bg-greenISESAC{
  background-color: #17a700 !important;
}
.bg-gray{
  background-color: #e0e0e0 !important;
}





.text-ISESAC{
  color: #17a700;
}
.text-ral{
  color: #2c10cdff;
}
.text-circus{
  color: #EEBE00;
}
.text-change{
  color: #CD1014;
}




.border-change{
  border: 5px solid #CD1014;
}
.border-circus{
  border-color: #EEBE00;
}
.border-greenISESAC{
  border-color: #17a700;
}


.bg-white-1{
  background-color: #fff !important;
  color: #000;
}
.border-left-10{
  border-left: 10px solid #000 !important;
}
.border-top-10{
  border-top: 10px solid #000 !important;
}
.border-right-10{
  border-right: 10px solid #000 !important;
}
.border-bottom-10{
  border-bottom: 10px solid #000 !important;
}




.year-header {
  font-size: 60px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
}

.tab-scroll-container {
  // height: calc(100vh - 400px); /* ajusta */
  overflow-y: auto;
}