*{
  text-transform: uppercase !important;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-feature-settings: "tnum" !important;
  
  // font-size: 20% !important;
}
/* Supongamos que el componente Calendar tiene una clase específica */
.my-calendar {
  font-size: 18px; /* Cambia el tamaño según lo necesites */
}

.my-calendar .calendar-header {
  font-size: 20px; /* Cambia el tamaño del encabezado */
}
.dataTable-inventario{
  table{
    td{
      vertical-align: top !important;
      // background-color: red;
    }
  }
}
#SvgjsTspan21034{
  font-size: 40px !important;
}
.my-calendar .calendar-day {
  font-size: 16px; /* Cambia el tamaño de los días */
}
.p-inputtext{
  font-size: 27px !important; /* Cambia el tamaño de los días */
}
.table-normal{
  tr{
      th{
        border-radius: 0 !important;
        border: 2px solid rgb(46, 46, 46) !important;
      }
      td{
        border-radius: 0 !important;
        border: 2px solid rgb(46, 46, 46) !important;
        margin: 0 !important;
        padding: 5px !important;
        font-size: 17px;
      }

  }
}
/* en tu archivo .css */

.sticky-left {
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 5;        /* por encima de las celdas normales */
  width: 350;
}
.bg-verdeclaro{
  background-color: #a7f0ba;
}
.bg-rosaclaro{
  background-color: #f0a7d8;
}
.text-verde{
  color: #a7f0ba;
}


.bg-amarilloclaro{
  background-color: #fff9c3;
}
.bg-rojoclaro{
  background-color: #f6bebe;
}

.bg-azulfuerte{
  background-color: #3e74ff;
}

.text-azulfuerte{
  color: #3e74ff;
}
.text-rosafuerte{
  color: #ff3ef2;
}
.bg-celeste{
  background-color: #6df2f4;
}
.sticky-right {
  position: sticky;
  right: 0;
  background-color: inherit;
  z-index: 5;
  width: 150;
}
// .table-responsive {
//   overflow-x: auto; /* permite scroll horizontal */
// }

// th, td {
//   white-space: nowrap; /* evita que se rompa el texto */
// }

// /* Columna izquierda fija */
// .sticky-left {
//   position: sticky;
//   left: 0;
//   z-index: 10;       /* para que quede por encima de las celdas que se mueven */
//   background: #fff;  /* mismo fondo que tu tabla */
// }

// /* Columna derecha fija (TOTAL) */
// .sticky-right {
//   position: sticky;
//   right: 0;
//   z-index: 10;
//   background: #fff;
// }

.table-normal-td{
  tr{
      td{
        border-radius: 0 !important;
        border: 2px solid rgb(46, 46, 46) !important;
        margin: 0 !important;
        padding: 5px !important;
        font-size: 17px;
      }

  }
}
/* Aumentar tamaño del mes y año */
.custom-calendar-header {
  font-size: 5.3rem !important; /* Ajusta el tamaño aquí */
  font-weight: bold;
}

.p-datepicker .p-datepicker-month,
.p-datepicker .p-datepicker-year {
  font-size: 5.3rem  !important; /* Tamaño de los select */
  font-weight: bold;
}


.total-rounded-bottom td {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  background-color: inherit;
}
.bg-gray{
  background-color: #e0e0e0 !important;
}
.border-change{
  border: 5px solid #CD1014;
}
.border-circus{
  border-color: #EEBE00;
}
.border-greenISESAC{
  border-color: #17a700;
}
.bg-change{
  background-color: #CD1014;
}
.bg-circus{
  background-color: #EEBE00;
}
.bg-manicure{
  background-color: #ff3ef2;
}
.bg-ral{
  background-color: #CD1014;
}
.bg-greenISESAC{
  background-color: #17a700;
}

.text-ISESAC{
  color: #17a700;
}
.text-circus{
  color: #EEBE00;
}
.text-change{
  color: #CD1014;
}
.mi-tab-verde.p-highlight {
  border-bottom: 3px solid #17a700 !important; /* línea inferior verde */
  color:          #17a700 !important;           /* opcional: texto verde */
}
label{
  font-size: 19px;
}
.table-responsive {
  display: block;          /* para que el contenedor actúe como bloque desplazable */
  width: 100%;
  overflow-x: auto;        /* scroll horizontal */
  overflow-y: hidden;      /* sin scroll vertical */
  -webkit-overflow-scrolling: touch; /* inercia en iOS */
}
.row-danger {
  background-color: rgba(255, 0, 0, 0.2) !important;
  color: #D41115;
}
.row-trash {
  background-color: rgba(255, 0, 0, 0.532) !important;
  color: #D41115;
}
.row-color-danger {
  color: #D41115;
}
.row-congelamiento {
  background-color: #AFCDFB !important;
  color: #3B82F6 !important;
}
input{
  font-size: 17px !important;
}
.hover-border-card-primary:hover{
  border: 3px solid #D41115 !important;
  cursor: pointer;
}
.hover-text:hover{
  color: blue;
}
.text-color-dolar{
  color: #20D097
}
.hover-border-card-primary{
  border: 3px solid transparent;
}
.tabPanel-color-success{
  a{
    &:hover{
      opacity: .5;
    }
    &:focus{
      color: #11d445;
      border-color: #11d445 !important;
    }
  }
}
.cabecera-vertical-primary{
  background-color: #000 !important;
  color: white !important;
}
.cursor-table{
  cursor: pointer;
}
.cursor-table:hover{
  background-color: #cccccc !important;
}
.cursor-text-primary{
  color: black;
  cursor: pointer;
}

.cursor-text-primary:hover{
  color: red;
  cursor: pointer;
}
.currency {
  width: 2.5rem; /* Adjust the width to align as needed */
  text-align: right;
}

.amount {
  text-align: left;
  padding-left: 0.5rem;
}
.hover-li:hover{
  background-color: #dddddd;
}
.p-button{
  // background-color: #D41115 !important;
  background: #D41115;
    border: 1px solid #D41115;
}
.a-focus:focus{
  color: #000;
}
.p-button:focus{
  // background-color: #D41115 !important;
  box-shadow: none !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #D41115;
}
.p-button.p-button-outlined{
  // color: #D41115 !important;
  background-color: transparent;
  color: #D41115;
  border: 1px solid;
}
.card{
  border-radius: 15px !important;
  border: 1px solid #dee2e6;
}
.p-button.p-button-text{
  background-color: transparent;
  color: #D41115;
  border-color: transparent;
}
// .bg-primary--ctss{
//   background-color: #D41115;
// }
td, th {
  vertical-align: middle !important; /* O use 'baseline' según tu diseño */
}
.custom-legend-item {
  margin-top: 10px;    /* Margen superior */
  margin-right: 10005px;  /* Margen derecho */
  margin-bottom: 20px; /* Margen inferior */
  margin-left: 30px;   /* Margen izquierdo */
}
.container-chart{
  .apexcharts-legend-series{
    margin: 2px 50px !important;
  }
}
.hover-card:hover{
    border-color: rgb(205, 133, 0) !important;
}
.sticky-col {
  position: sticky;
  left: 0;
  background-color: white !important; /* Para que no se solape con el fondo */
  z-index: 1; /* Asegura que se mantenga encima de otras columnas */
  border-right: 1px solid #dee2e6; /* Para que se vea consistente */
}
.hover-card-border{
    // border: 5px solid transparent;
    // width: 100%;
    margin: 10px;
    border-radius: 10px;
    padding: 3px;
    // background-color: red;
    // height: 80px;
  // border-radius: 100%;
    // padding: 50%;
}
.card-border,.hover-card-border:hover{
    // border: 5px solid rgb(205, 133, 0) ;
    // box-shadow: #000 4;
    // transition: box-shadow 0.3s ease;
    // padding: 50%;
    // width: 100%;
    // margin: 10px;
      box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.13);
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.13);
  // border-radius: 100%;
}
// .rbc-events-container{
//   position: static !important;
// }
.signatureCanvas{
    border: 1px solid black;
    width: 100%;
    min-height: 500px;
    background-color: rgb(186, 186, 186);
}

.login-container{
    margin-top: 15%;
}
.login-form-1{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background: #0062cc;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    background-color: #fff;
    color: #0062cc;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.react-form-wizard .wizard-tab-content{
    text-align: inherit !important;
}
.bg-white{
    background-color: white !important;
}

.card-header{
    padding-bottom: 5px;
}
.card-body{
    padding-top: 5px;
}
/* Definición de la segunda clase basada en la primera */
.tooltip-firma {
    .tooltip-inner, .tooltip-arrow::before{
        /* Aquí puedes aplicar estilos adicionales */
        background-color: #ffffff !important;
        border: #000;
    }
}
.font-50{
    font-size: 40px;
}
.p-datascroller-content{
  background-color: #00000000;
  overflow-x: hidden !important;
}
.rbc-day-slot .rbc-events-container{
    margin-right: 0px !important;
}
/* Efecto hover en las celdas vacías */
.rbc-day-slot .rbc-timeslot-group .rbc-time-slot:hover {
  background-color: red !important; /* Cambia el color de fondo al gris */
  cursor: pointer;
}
.p-selectbutton{
  .p-button:active, .p-button.p-highlight:active, .p-button:focus, .p-button.p-highlight:focus, .p-button{
    background-color: $white !important;
    border: 1px solid $black !important;
    border-radius: 12px;
    color: $black !important;
  }
  // .p-button{
  //   background-color: $black !important;
  //   border: 1px solid $black !important;
  //   color: $white !important;
  // }
  .p-button.p-button.p-highlight{
    background-color: $black !important;
    border: 1px solid $white !important;
    border-radius: 12px;
    color: $white !important;
    font-size: 25px !important;
  }
}
.card-shadow{
  background-color: $white !important;
    // border: 1px solid $black !important;
    box-shadow: #dcdcdc 6px 6px 6px 6px !important;
    color: $black !important;
    font-size: 20px !important;
}
.programas-selectsButtons{
  margin-bottom: 20px !important;
  .p-button:active, .p-button.p-highlight:active, .p-button:focus, .p-button.p-highlight:focus, .p-button{
    background-color: $white !important;
    border: none !important;
    margin: 0px 10px;
    border-radius: 10px;
  }
  .p-button.p-button.p-highlight{
    background-color: $white !important;
    // border: 1px solid $black !important;
    box-shadow: #dcdcdc 6px 6px 6px 6px !important;
    color: $black !important;
    font-size: 20px !important;
  }
}
.rbc-time-content .rbc-timeslot-group .rbc-time-slot:hover {
  background-color: rgb(182, 182, 182) !important; /* Gris claro */
  cursor: pointer;
}
.rbc-events-container{
  background-color: transparent;
}
// .rbc-time-content .rbc-timeslot-group .rbc-time-slot{
//   background-color: blue !important; /* Gris claro */
// }
/* Efecto hover en los eventos */
.rbc-event:hover {
  background-color: #d3d3d3; /* Cambia el color de fondo al gris */
  cursor: pointer;
}
.rbc-event, .rbc-day-slot .rbc-background-event{
    border-radius: 0 !important;
}
/* Personalizar el fondo y color del texto de la cabecera */
// .p-datatable .p-datatable-thead > tr > th {
//   background-color: $primary;
//   color: white;
// }

/* Personalizar íconos de ordenación */
// .p-datatable .p-datatable-thead > tr > th .p-sortable-column-icon {
//   color: white; /* Cambia el color del ícono de ordenación */
// }

/* Personalizar íconos de filtrado */
// .p-datatable .p-datatable-thead > tr > th .p-column-filter, .p-column-filter-menu-button {
//   color: white; /* Cambia el color del ícono de filtrado */
// }

button{
  border-radius: 10px;
}
.btn{
  border-radius: 5px !important;
}
// th:first-child {
//   border-top-left-radius: 11px;
//   border-bottom-left-radius: 11px;
// }
// th:last-child {
//   border-top-right-radius: 11px;
//   border-bottom-right-radius: 11px;
// }


.text-graphic-container{
  text-align: left;
}
.leyenda-reprogramada{
    background-color: blue !important;
}
.leyenda-confirmada{
    // color: #000 !important;
    background-color: rgb(153, 204, 248) !important;
    border-left: rgb(33, 105, 168) 7px solid !important;
}
.leyenda-cancelada{
  background-color: rgb(232, 240, 156) !important;
  border-left: rgb(125, 134, 0) 7px solid !important;
}
.leyenda-asistio{
  background-color: #76e97e !important;
  border-left: #27CA37 7px solid !important;
}
.leyenda-no-asistio{
  background-color: #fc8b8b !important;
  border-left: #bb4720 7px solid !important;
}
.color-confirmada{
  color: rgb(33, 105, 168) !important;
}
.color-cancelada{
  color: rgb(164, 175, 22) !important;
}
.color-asistio{
  color: #27CA37 !important;
}
.color-no-asistio{
  color: #bb4720 !important;
}
.p-datepicker table td {
  padding: 0 !important;
}
.cuadrado {
  width: 36px;
  height:18px;
  float: left;
}
#leyenda {
  display: table;
  justify-content: center;
  width: 100%;
  font: normal 400 14px/22px "Google Sans",Roboto,Arial,sans-serif;
  color: black;
  .container-leyenda{
    display: flex;
    justify-content: center;
  }
}
#columna{
  display: table-cell;
  padding: 10px;
}
#titulo-ayuda-leyenda{
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px 0 5px;
}

//LOADINGS
.loader-box2 {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}
.loader-box2:before,
.loader-box2:after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader-box2:before {
  animation: box1 1s infinite;
  background-color: #000;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader-box2:after {
  animation: box2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #000;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes box1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes box2 {
  0% {
    box-shadow: 30px 0 0 #000;
  }
  50% {
    box-shadow: 0 0 0 #000;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #000;
    margin-top: 0;
  }
}
  



.loader-diamond {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader-diamond:after{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader-diamond:before{
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%  ,10% {
    transform: translate(-64px , -64px) rotate(-45deg)
  }
  90% , 100% {
    transform: translate(0px , 0px) rotate(-45deg)
  }
}


.loader-sandglass {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    position: relative;
    background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
  }
  .loader-sandglass:before, .loader-sandglass:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
  }
  .loader-sandglass:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
  }
  @keyframes lqt {
    0%, 100% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0% 0px;
    }
    50% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0% 40px;
    }
    50.1% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0% -40px;
    }
  }
  @keyframes lqb {
    0% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0 40px;
    }
    100% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0 -40px;
    }
  }
  @keyframes spinx {
    0%, 49% {
      transform: rotate(0deg);
      background-position: 50% 36px;
    }
    51%, 98% {
      transform: rotate(180deg);
      background-position: 50% 4px;
    }
    100% {
      transform: rotate(360deg);
      background-position: 50% 36px;
    }
  }
      


.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background-image:
      linear-gradient(#000 16px, transparent 0) ,
      linear-gradient(#FF3D00 16px, transparent 0) ,
      linear-gradient(#FF3D00 16px, transparent 0) ,
      linear-gradient(#000 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top , left bottom , right top , right bottom;
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    0% {
      width: 64px;
      height: 64px;
      transform: rotate(0deg)
    }
    50% {
      width: 30px;
      height: 30px;
      transform: rotate(180deg)
    }
    100% {
      width: 64px;
      height: 64px;
      transform: rotate(360deg)
    }
  }


.p-inputtext .p-component .p-inputtext .p-component{
  color: #D41115 !important;
  font-weight: bold !important;
}

  //SCROLLBAR GENERAL
  body {
    --sb-track-color: #232e3300;
    --sb-thumb-color: #888888;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .scroll-bar-generate {
    --sb-track-color: #232e3300;
    --sb-thumb-color: #888888;
    --sb-size: 1px;
  }
  .scroll-bar-generate::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .scroll-bar-generate::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }
  
  .scroll-bar-generate::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    .scroll-bar-generate {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .rbc-button-linK{
    span{
      background-color: red !important;
    }
  }

  /* Añade este estilo en tu archivo CSS */
  .dataTable-verticals-lines td{
  // .dataTable-verticals-lines th 
  border-right: 1px solid #d9d9d9; /* Cambia el color del borde si deseas otro */
}

.dataTable-verticals-lines th:last-child,
.dataTable-verticals-lines td:last-child {
  border-right: none; /* Elimina el borde de la última columna */
}

.borde-grueso::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: black;
  z-index: 3;
}




.table-container {
  height: 800px;
  overflow: auto;
  border: 5px solid black;
  font-family: sans-serif;
  color: black;
}

.table-sticky {
  width: 100%;
  min-width: 1200px;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.th, .td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.borde-total {
  border-bottom: 5px solid black;
  padding: 10px;
  text-align: center;
}
.borde-left {
  border-left: 5px solid black;
  padding: 10px;
  text-align: center;
}
.borde-right {
  border-right: 5px solid black;
  padding: 10px;
  text-align: center;
}

.tr {
  display: flex;
}

.th {
  background-color: #d00000;
  color: white;
  font-weight: bold;
}

.bg-gray {
  background-color: #f0f0f0;
}
